@model Proyecto_Verificable.Models.Form

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commune)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commune)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
