@model Proyecto_Verificable.Models.FormAcquirer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormAcquirer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquirerRunRut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquirerRunRut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquirerEntitlement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquirerEntitlement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcquirerPercentNotCredited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcquirerPercentNotCredited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Form.FormId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormAcquirerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
